body{
    background-color: aliceblue;
    text-align: center;
}
h2{
    font-style: italic;
    size: 30px;
    color: red;
}
p{
    font-size: 20px;
}
.blue{
    color: blue;
}
.red{
    color: red;
}
.green{
    color: green;
}